<div class="ar">
	<h1>{{title}}</h1>
	<h1>{{ data.date }}</h1>
	<ul>
		<li>الفجر: {{ data.Fajr }}</li>
		<li>الشروق: {{ data.Sunrise }}</li>
		<li>الظهر: {{ data.Dhuhr }}</li>
		<li>العصر: {{ data.Asr }}</li>
		<li>المغرب: {{ data.Maghrib }}</li>
		<li>العشاء: {{ data.Isha }}</li>
	</ul>
	<h1>{{ data.date-tomorrow }}</h1>
	<ul>
		<li>الفجر: {{ data.Fajr-tomorrow }}</li>
		<li>الشروق: {{ data.Sunrise-tomorrow }}</li>
		<li>الظهر: {{ data.Dhuhr-tomorrow }}</li>
		<li>العصر: {{ data.Asr-tomorrow }}</li>
		<li>المغرب: {{ data.Maghrib-tomorrow }}</li>
		<li>العشاء: {{ data.Isha-tomorrow }}</li>
	</ul>
</div>
